$app-primary-color : #2E2F58;
$app-secondary-color : #505581;
$app-tertiary-color : #3c3e44;
$app-quaternary-color : #FAF0CA;

$app-background-color : #202329;
$app-border-radius : 1rem;
$app-padding : 1rem;
$app-font-family : 'Roboto', sans-serif;
$app-box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);